* {
    margin: 0;
    padding: 0;
}

.camera-page {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.header {
    height: 6em;
    width: 100%;
    background-color: #003DA5;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

.header h1 {
    color: white;
    font-size: 3em;
    text-align: center;
}

.body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: calc(100vh - 6em);
    width: 100%;
    overflow-x: hidden;
}

.opt-selector {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding: 2em;
    z-index: 2;
}

.opt-directions {
    margin-top: 1em;
    color: black;
    font-size: 3em;
    text-align: center;
    z-index: 2;
}

.opt-button {
    padding: 0.5em 1em;
    border: none;
    background-color: transparent;
    border-radius: 2em;
    margin: 8em 0em 8em 0em;
    transition: none;
    cursor: pointer;
    /*transition: all 0.3s ease;*/
}

.opt-image {
    height: 25em;
    width: 25em;
    object-fit: contain;
    opacity: 60%;
    transition: all 0.3s ease;
    border-radius: 50%;
}

.opt-button:hover .opt-image {
    opacity: 1;
    transform: scale(1.2);
    cursor: pointer;
}

.opt-button.select .opt-image {
    opacity: 1;
}

.step2-subheading {
    font-size: 2em;
    text-align: center;
}

.left-container {
    width: 45%;
    height: 100%;
    z-index: 1;
    display: flex;
    flex-direction: column;
}

.left-container-header h2 {
    padding-top: 1em;
}

.theme-select {
    width: 100%;
    flex: 1;
    overflow-y: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;
    justify-items: center;
}

.theme-select img {
    border: solid 1px lightgray;
    border-radius: 1em;
    height: 30vh;
    background-image:
        linear-gradient(45deg, #888 26%, transparent 26%), 
        linear-gradient(135deg, #888 26%, transparent 26%),
        linear-gradient(45deg, transparent 75%, #888 75%),
        linear-gradient(135deg, transparent 75%, #888 75%);
    background-size: 10px 10px;
    background-position: 0 0, 10px 0, 10px -10px, 0px 10px;
    transition: all 0.3s ease;
    margin: 1.5em 0;
}


.theme-select img:hover {
    transform: scale(1.1);
    cursor: pointer;
    border: solid 1px black
}

.theme-preview {
    border: solid 1px lightgray;
    height: 30vh;
    width: 100%;
    background-image:
        linear-gradient(45deg, #888 26%, transparent 26%), 
        linear-gradient(135deg, #888 26%, transparent 26%),
        linear-gradient(45deg, transparent 75%, #888 75%),
        linear-gradient(135deg, transparent 75%, #888 75%);
    background-size: 10px 10px;
    background-position: 0 0, 10px 0, 10px -10px, 0px 10px;
    transition: all 0.3s ease;
    margin: 1.5em 0;
}

.photos-instructions {
    width: 10%;
    height: 100%;
}

.photos-instructions > * {
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid #003DA5 2px;
    background-color: white;
    border-radius: 1em;
    position: relative;
    padding: 1em 0;
}

.photos-instructions h2 {
    max-width: 70%;
    font-size: 1.5em; 
    font-weight: 400;
}

.photos-instructions .arrow{
    font-size: 40px;
}

.selfie-scotty {
    top: 2em;
}

.choose-theme {
    top: 25%;
}

.take-picture {
    top: 60%;
}

.right-container {
    flex: 1;
    width: 0%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative; 
}   

.right-container-header h2 {
    padding-top: 1em;
}

.overlay-container {
    aspect-ratio: 11/17;
    display: flex;
    overflow: hidden;
    box-shadow: 0 0 20px 0px #888888;
    position: relative;
}

.overlay-theme {
    position: absolute;
    height: 100%;
    z-index: 3;
}

/* === Step 2 Styles === */
.overlay-container.preview {
    height: 90%;
    margin: 1em 0em 1em 0em;
}

/* === Step 3 Styles === */
.overlay-container.capture {
    margin-top: 2em;
    height: 100%;
}

.selfie  {
    position: absolute;
    top: 0;
    height: 50%;
    width: 100%;
    z-index: 1;
    object-fit: contain;
}

.webcam {
    position: absolute;
    top: 0;
    height: 50%;
    width: 100%;
    z-index: 2;
    object-fit: cover;
}

.button {
    position: absolute;
    bottom: 0;
    border-radius: 1em;
    border-style: none;
    box-sizing: border-box;
    color: #FFFFFF;
    font-size: 2em;
    padding: 0.75em;
    transition: all 0.3s ease;
    margin-bottom: 0.5em;
}

.retake {
    left: 25%;   /* push retake more toward center from left */
    background-color: #EA4C89;
  }
  
.confirm {
    right: 25%;  /* push confirm more toward center from right */
    background-color: #309d4f;
}  

.retake:hover {
    cursor: pointer;
    box-shadow: 0 0 10px 3px #888888;
    background-color: #e82f76;
}

.confirm:hover {
    cursor: pointer;
    box-shadow: 0 0 10px 3px #888888;
    background-color: #039e2f;
}

.hidden {
    display: none;
}

.hidden-step1 {
    visibility: hidden;
    pointer-events: none;
}

.countdown-animation {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 10em;
    color: white;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
    z-index: 5;
}

.capture-button {
    position: absolute;
    top: 88%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    background-color: rgb(102,102,102);
    color: white;
    border: none;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    z-index: 4;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 1rem;
    text-transform: uppercase;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 1);
  }

.capture-button:hover{
    transform: translate(-50%, -50%) scale(1.2);
    cursor: pointer;
    z-index: 4;
}

.blue {
    background-color: #003DA5;
    color: white;
}

.step1, .step2, .step3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 1200px;
    z-index: 1; /* higher than background */
}

/* Next/Prev buttons */
.button.next, .button.prev {
    padding: 0.5em 2em;
    margin: 0.5em;
    font-size: 2em;
    border-radius: 1em;
    align-items: center;
    justify-content: center;
    border: none;
    background: rgb(0,61,165);
    color: #fff;
    cursor: pointer;
    transition: background 0.3s;
}

.button.next:hover, .button.prev:hover {
    background-color: rgb(255,184,28);
}

.button.next:disabled {
    background: #ccc;
    color: #888;
    cursor: not-allowed;
}

.button-next {
    padding: 0.5em 2em;
    margin: 0.5em;
    font-size: 2em;
    border-radius: 1em;
    align-items: center;
    justify-content: center;
    border: none;
    background: rgb(0,61,165);
    color: #fff;
    cursor: pointer;
    transition: background 0.3s;
}

.button-next:hover {
    background-color: rgb(255,184,28);
}

.button-group {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    z-index: 2;
}

.back-button-container,
.next-button-container {
    flex-shrink: 0;
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
}

.button.bottom-left {
    padding: 0.5em 2em;
    margin: 0.5em;
    bottom: 0;
    left: 0;
    font-size: 2em;
    border-radius: 1em;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: rgb(0,61,165);
    color: white;
    cursor: pointer;
    transition: background 0.3s;
}

.button.bottom-left:hover {
    background-color: rgb(255,184,28);
}

.camera-background-image {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    object-fit: cover;
    opacity: 35%;
    z-index: 0;
    pointer-events: none; /* optional: prevents it from blocking clicks */
} 