* {
    margin: 0;
    padding: 0;
}

.landing-page {
    position: relative;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.background-image {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    object-fit: cover;
    opacity: 40%;
    z-index: 0;
    pointer-events: none; /* optional: prevents it from blocking clicks */
} 

.main {
    position: relative;
    top: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30em 2em 0em 2em;
}

.card {
    background-color: #003DA5;
    box-shadow: 3px 3px 10px 0 rgba(0, 0, 0, 0.7), inset 0 0 20px 0 rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(20px);
    border-radius: 2em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 2em;
}

.main h1 {
    position: relative;
    width: 100%;
    font-size: 3em;
    font-weight: 400;
    padding: 0.5em 0.75em;
    box-sizing: border-box;
    text-align: center;
}

.instructions {
    box-sizing: border-box;
    position: relative;
    display: flex;
    width: 90%;    
    justify-content: space-between;
    align-items: center;
}

.ucr-ray {
    width: 5em;
    height: 5em;
    padding-top: 1em;
}

.item {
    height: 20em;
    width: 20em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.icon {
    font-size: 3em;
    padding: 0.25em;
}

.item h3 {
    font-size: 2em;
    font-weight: 400;
    line-height: 1.5em;
    text-align: center;
}

.instructions .arrow {
    font-size: 4em;
    padding: 0.5em;
}

.welcome {
    position: relative;
    width: 80%;
    padding: 0.5em 0.75em;
    box-sizing: border-box;
    text-align: center;
}

.main-button {
    color: white;
    background-color: #003DA5;
    position: relative;
    font-size: 2.5em;
    font-weight: 400;
    border: none;
    padding: 0.75em 1em;
    border-radius: 1em;
    transition: all 0.3s ease;
    /* box-shadow: 0 0 10px 3px #888888; */
}

.main-button:hover {
    box-shadow: 0 0 10px 3px #AAAAAA, inset 0 0 20px 0 rgba(255, 255, 255, 0.3);
    background-color: rgb(255,184,28);
    cursor: pointer;
}

