* {
    margin: 0;
    padding: 0;
}

.sticker-page {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.header {
    height: 6em;
    width: 100%;
    background-color: #003DA5;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

.header h1 {
    color: white;
    font-size: 3em;
    text-align: center;
}

.body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: calc(100vh - 6em);
    width: 100%;
}

.left-container {
    width: 45%;
    height: 100%;
    z-index: 1;
    display: flex;
    flex-direction: column;
}

.sticker-select {
    width: 100%;
    flex: 1;
    overflow-y: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 5em;
    justify-items: center;
    padding: 5em 0;
}

.sticker-select img {
    cursor: move;
    height: 20vh;
    transition: all 0.3s ease;
    margin: 0;
}

.sticker-select img:hover {
    transform: scale(1.2);
}

.sticker-instructions {
    width: 10%;
    height: 100%;
}

.sticker-instructions > * {
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid #003DA5 2px;
    background-color: white;
    border-radius: 1em;
    position: relative;
    padding: 1em 0;
}

.sticker-instructions h2 {
    max-width: 70%;
    font-size: 1.5em;
    font-weight: 400;
}

.sticker-instructions .arrow{
    font-size: 40px;
}

.drag-sticker {
    top: 10%;
}

.rearrange-sticker {
    top: 35%;
}

.print-vision {
    top: 70%;
}

.right-container {
    flex: 1;
    width: 45%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}   

.overlay-container {
    aspect-ratio: 11/17;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
}

.final-selfie {
    position: absolute;
    top: 0;
    height: 50%;
    pointer-events: none;
}

.final-theme {
    position: absolute;
    height: 100%;
    pointer-events: none;
}

.sticker-canvas {
    position: relative;
    height: 100%;
    width: 100%;
}

.sticker-canvas img {
    position: absolute;
    height: 17%;
    cursor: move;
}

.textbox-blue {
    width: 100%;
    height: 100%;
    resize: none;
    border: 1px solid black;
    background: rgb(0,61,165);
    font-size: 16px;
    color: white;
    text-align: center;
    outline: none;
    transition: all 0.2s ease;
}

.textbox:focus {
    border: 2px solid #4A90E2;
    background: #f0f8ff;
    color: black;
}

.button {
    position: absolute;
    bottom: 0;
    border-radius: 1em;
    border-style: none;
    box-sizing: border-box;
    color: #FFFFFF;
    font-size: 2em;
    padding: 0.75em;
    transition: all 0.3s ease;
}

.clear {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #EA4C89;
}

.print {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: #309d4f;
}

.text-blue {
    border-radius: 1em;
    border-style: none;
    box-sizing: border-box;
    color: #FFFFFF; /* white text */
    font-size: 2em;
    padding: 0.75em;
    transition: all 0.3s ease;
    background-color: rgb(0,61,165);
    width: 80%;
    margin-top: 1em;
    text-align: center;
}

.clear:hover {
    cursor: pointer;
    box-shadow: 0 0 10px 3px #888888;
    background-color: #e82f76;
}

.print:hover {
    cursor: pointer;
    box-shadow: 0 0 10px 3px #888888;
    background-color: #039e2f;
}

.text:hover {
    cursor: pointer;
    box-shadow: 0 0 10px 3px #888888;
    background-color: #F8C51C;
}

.popup {
    position: absolute;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
}

.opacity {
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.6);
}

.form {
    position: absolute;
    background-color: #EEEEEE;
    height: 50%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 1em;
}

.close {
    color: black;
    cursor: pointer ;
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 3em;
}

.restart {
    border-radius: 1em;
    border-style: none;
    box-sizing: border-box;
    color: #FFFFFF;
    font-size: 2em;
    padding: 0.75em;
    transition: all 0.3s ease;
    background-color: #309d4f;
    z-index: 4;
}

.restart:hover {
    cursor: pointer;
    box-shadow: 0 0 10px 3px #888888;
    background-color: #039e2f;
}

.canvas {
    z-index: 5;
}